.header
  ul#main-nav.nav.nav-pills.pull-right
    li
      a(href='#') Home
    li.active
      a(href='#/about') About
    li
      a(href='#/contact') Contact
  h3.text-muted= title
div
  p
    | about ...
.footer
  p
    span.glyphicon.glyphicon-heart from the Yeoman team
