.header
  ul#main-nav.nav.nav-pills.pull-right
    li
      a(href='#') Home
    li
      a(href='#/about') About
    li.active
      a(href='#/contact') Contact
  h3.text-muted= title

.row
  .small-12.columns
    p
      | contact ...

.footer
  p
    span.glyphicon.glyphicon-heart from the Yeoman team

