extends layout

block content
  <!--[if lt IE 9]>
  p.browsehappy
    | You are using an <strong>outdated</strong> browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser 
    |  to improve your experience.
  <![endif]-->
  .container
    .header
      ul.nav.nav-pills.pull-right
        li.active
          a(href='#') Home
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
      h3.text-muted= title
    .jumbotron
      h1 'Allo, 'Allo!
      img(src='/app/images/yeoman.png')
      p.lead Always a pleasure scaffolding your apps.
      p
        a.btn.btn-lg.btn-success(href='#') Splendid!
          span.glyphicon.glyphicon-ok

    .row.marketing
      .col-lg-6<% if (use.backbone) { %>
        h4 Backbone
        p
          | Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections
          | with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.
        <% } %><% if (use.bootstrap) { %>
        h4 Bootstrap
        p 
          | Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
        <% } %><% if (use.modernizr) { %>
        h4 Modernizr
        p 
          | Modernizr is a JavaScript library that detects HTML5 and CSS3 features in the user’s browser.
        <% } %><% if (use.amd === 'requirejs') { %>
        h4 RequireJS
        p 
          | RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.
          | Using a modular script loader like RequireJS will improve the speed and quality of your code.
        <% } %><% if (use.amd === 'curl') { %>
        h4 Curl
        p 
          | curl.js is small, fast, extensible module loader that handles AMD, CommonJS Modules/1.1, CSS, HTML/text, and legacy scripts 
    <% } %><% if (use.sass) { %>
        h4 Sass
        p 
          | Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
        <% } %>
    .footer
      p
        span.glyphicon.glyphicon-heart from the Yeoman team
