doctype html
html
  unless omitHead
    head
      title= title
      link(rel='stylesheet', href='/app/styles/main.css')<% if (includeModernizr) { %>
      script(rel='javascript', src='/vendor/modernizr/modernizr.js')<% } %><% if (includeRequireJS) { %>
      script(rel='javascript', src='/vendor/requirejs/require.js', data-main='/app/scripts/main')<% } %><% if (includeCurlJS) { %>
      script(rel='javascript', src='/vendor/curl/src/curl.js')
      script(rel='javascript', src='/app/scripts/main.js')<% } %>
  body
    block content
