include _top-menu.pug
+top-menu('about')
.container
  .container.main
    .row
      .col-lg-6
        p
          | about ...
  .footer
    p
      span.glyphicon.glyphicon-heart from the Yeoman team
