include _top-menu.pug
+top-menu('contact')
.container
  .container.main
    .row
      .col-lg-6
        p
          | contact ...
  .footer
    p
      span.glyphicon.glyphicon-heart from the Yeoman team

