doctype html
html
  unless omitHead
    head
      title= title
      link(rel='stylesheet', href='/static/styles/main.css')<% if (includeModernizr) { %>
      script(rel='javascript', src='/vendor/modernizr/modernizr.js')<% } %>
      script(rel='javascript', src='/vendor/requirejs/require.js', data-main='/static/scripts/main')
  body
    block content
