.contain-to-grid
  nav.top-bar(data-topbar, role='navigation')
    ul.title-area
      li.name
        h3
          a(href='#')= title
      li.toggle-topbar.menu-icon
        a(href='#')
          span Menu
    section.top-bar-section
      ul#main-nav.right
        li
          a(href='#') Home
        li
          a(href='#/about') About
        li.active
          a(href='#/contact') Contact

.row
  .small-12.columns
    p
      | contact ...
.row
  .small-12.columns
    .footer
      p
        i.fi-heart
        |  from the Yeoman team

