.header
  ul#main-nav
    li.item(class=main_sel === 'home' ? 'active' : '')
      a(href='/') Home
    li.item(class=main_sel === 'about' ? 'active' : '')
      a(href='/about') About
    li.item(class=main_sel === 'contact' ? 'active' : '')
      a(href='/contact') Contact
  h3.text-muted= title

