extends layout

block content
  .container
    .header
      ul#main-nav
        li
          a(href='/') Home
        li
          a(href='/about') About
        li.active
          a(href='#') Contact
      h3.text-muted= title
    div
      p
        | contact ...
    .footer
      p
        span from the Yeoman team

