ul.dropdown.menu.vertical.medium-horizontal(data-dropdown-menu)
  li.menu-text= constants.title
  each _section in constants.allSections
    li.item(class=(_section == section) ? 'active' : '')
      a(data-linking=linkingMode href='/section/' + _section + '/')=constants.sectionTitles[_section]

