ul.dropdown.menu.vertical.medium-horizontal(data-dropdown-menu)
  li.menu-text= title
  each _section in allSections
    li.item(class=(_section == section) ? 'active' : '')
      a(data-internal href='/section/' + _section + '/')=sectionTitles[_section]

