extends layout
include _top-menu.pug

block content
  .container
    +top-menu('about')

    .row
      .small-12.columns
        p
          | about ...

    .row
      .small-12.columns
        .footer
          p
            i.fi-heart
            |  from the Yeoman team
