.header
  ul#main-nav
    li
      a(href='#') Home
    li.active
      a(href='#/about') About
    li
      a(href='#/contact') Contact
  h3= title
.row
  .col
    p
      | about ...
.footer
  p
    span from the Yeoman team
