.header
  ul.nav.nav-pills.pull-right
    li
      a(href='#') Home
    li
      a(href='#/about') About
    li.active
      a(href='#/contact') Contact
  h3.text-muted= title
div
  p
    | contact ...
.footer
  p
    span.glyphicon.glyphicon-heart from the Yeoman team

