extends layout

block content
  .container
    - var main_sel = 'contact'
    include _top-menu.jade
    div
      p
        | contact ...
    .footer
      p
        span.glyphicon.glyphicon-heart from the Yeoman team

