#main-navmenu.collapse.navbar-collapse
  ul.nav.navbar-nav
    each _section in constants.allSections
      li.item(class=(_section == section) ? 'active' : '')
        a(data-linking=linkingMode href='/section/' + _section + '/')= constants.sectionTitles[_section]
