.menu-toggler
  button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#main-navmenu' aria-expanded='false' aria-controls='main-nav')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar

